* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --input-errors: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --verry-dark-grayish-violet: hsl(278, 68%, 11%);
    --font-size: 18px;
    --family: 'Space Grotesk', sans-serif;
    --weight: 500;
}

body {
    /*background: var(--white);*/
    background: lightblue;
    font-family: var(--family);
}

.wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.bg-image {
    background: url("images/bg-main-desktop.png") no-repeat left top;
    background-size: cover;
    height: 100vh;
    width: 33vw;
}

.bg-card-front {
    position: absolute;
    top: 200px;
    left: 300px;
}

.bg-card-back {
    position: absolute;
    top: 445px;
    left: 447px;
    margin: 2rem;
}
.box > [for="expDate"] {
    display: inline-block;
    width: 49%;
 }
form {
    display: flex;
    flex-direction: column;
    /*background: dodgerblue;*/
    width: 500px;
    margin: 0 auto;
}

form label {
    color: var(--verry-dark-grayish-violet);
    font-weight: var(--weight);
    text-transform: uppercase;
    margin-bottom: 8px;
}
form > input {
    border-radius: 6px;
    border: none;
    padding: 0.5rem;
}
form fieldset  {
    display: flex;
    justify-content: space-between;
    border: none;
}
form fieldset > input {
    width: 50%;
}
footer {
    text-align: center;
    padding: 1rem;
}

footer > a {
    color: var(--white);
    text-decoration: none;
    transition: color 200ms ease-in-out;
}

footer > a:hover {
    color: var(--blue);
}

footer > a:visited {
    color: var(--white);
}

/*@media only screen and (max-width: 375px) {*/
/*    body {*/
/*        background-color: lightblue;*/
/*    }*/

/*}*/

/*@media only screen and (min-width: 376px) {*/
/*    body {*/
/*        background-color: lightyellow;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1440px) {*/
/*    body {*/
/*        background-color: lightsalmon;*/
/*    }*/
/*}*/